.link-preview {
    display: flex;
    a {
        text-overflow: ellipsis;
        width: 100%;
        margin-top: 12px;
        font-size: 15px;
        color: $clr2;
        box-sizing: content-box;
        border-left: 4px solid transparent;
        padding-left: 8px;
        &:hover {
            background-color: $clr5;
            border-radius: 0px 22px 22px 0px;
            border-left: 4px solid $clr6;
            width: 208px;
        }
        .link-icon {
            width: 40px;
            height: 40px;
        }
        .settings-icon {
            width: 23px;
            height: 23px;
        }
        .active-link-point {
            background-color: $clr6;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-left: 3px;
            visibility: hidden;
        }
        &:active {
            .active-link-point {
                margin: 0;
                visibility: visible;
                margin-left: 3px;
            }
            .thin-navbar-mode-point {
                visibility: visible;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .thin-navbar-mode-point {
            visibility: hidden;
            position: relative;
            margin: 0;
            background-color: $clr6;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            align-self: flex-start;
            right: 36px;
            top: 5px;
        }
    }
    // a {
    //     &:visited {
    //         .link-icon,
    //         .settings-icon,
    //         h3 {
    //             filter: invert(24%) sepia(19%) saturate(538%) hue-rotate(201deg) brightness(95%) contrast(91%);
    //         }
    //     }
    // }
    // .navbar-link {
    //     text-overflow: ellipsis;
    // }
}