.link-preview {
    display: flex;
    // &:last-of-type {
    //     margin-bottom: 20px;
    // }
    a {
        &:visited {
            .link-icon,
            .settings-icon,
            h3 {
                filter: invert(24%) sepia(19%) saturate(538%) hue-rotate(201deg) brightness(95%) contrast(91%);
            }
        }
    }
    .navbar-link {
        text-overflow: ellipsis;
        .link-icon {
            width: 40px;
            height: 40px;
        }
        .settings-icon {
            width: 23px;
            height: 23px;
        }
        .active-link-point {
            background-color: $clr6;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-left: 3px;
            visibility: hidden;
        }
        &:active {
            .active-link-point {
                margin: 0;
                visibility: visible;
                margin-left: 3px;
            }
            .thin-navbar-mode-point {
                visibility: visible;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 15px;
            // overflow-wrap: normal;
            text-overflow: ellipsis;
        }
        .thin-navbar-mode-point {
            visibility: hidden;
            position: relative;
            margin: 0;
            background-color: $clr6;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            align-self: flex-start;
            right: 36px;
            top: 5px;
        }
    }
}