* {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    color: $clr2;
}

body {
    margin: 0;
    // font-family: proxima-bold;
    background-color: $clr4;
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}