// COLOR PALETTE
$clr1:rgba(32, 32, 54, 1); ///backraoung
$clr2: #FFFFFF; ///links text
$clr3: rgba(255, 255, 255, 0.8); ///sub title
$clr4: #f9fafb; ////backround
$clr5:#3B3B54; ////hover
$clr6:#0CD89B; ////main green
$clr7:#f3f3f4; ///odd
// LAYOUT BREAKPOINTS
$break-narrow: 150px;
// $break-normal: 740px;
// $break-wide: 960px;